@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header .header-bottom .navbar .navbar-nav .nav-item .nav-link {
        padding: 20px 15px;
    }
    .banner .banner-content h1 {
        color: #fff;
        font-size: 50px;
        line-height: 60px;
    }
    .banner .banner-content h4 {
        margin-bottom: 24px;
    }
    .banner .banner-img {
        display: none;
    }
    .feature .single-feature .part-text p br {
        display: none;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list .single-sport-box .part-team {
        width: 200px;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list .single-sport-box .part-match .single-place-to-bet a {
        width: 160px;
    }
    .upcoming-match .single-match .part-team {
        padding: 30px 35px;
    }
    .upcoming-match .upcoming-match-list .single-upcoming-match .single-team .part-text span.team-name {
        font-size: 14px;
    }
    .upcoming-match .upcoming-match-list .single-upcoming-match .single-team {
        padding: 20px;
    }
    .upcoming-match .upcoming-match-list .single-upcoming-match .single-team .part-logo img {
        width: 50px;
    }
    .download-app img.shape {
        display: none;
    }
    .footer .about-widget .social .git {
        margin-top: 10px;
    }
    .footer .latest-news {
        display: none;
    }

    /* betting section */
    .betting-table .bet-tab-content .tab-pane .sports-list .single-sport-box .part-icon {
        padding-left: 15px;
        padding-right: 15px;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list .single-sport-box .part-match .single-place-to-bet a {
        width: 130px;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list .single-sport-box .part-team {
        width: 170px;
        padding-right: 20px;
    }

    /* newsletter */
    .newsletter .part-img {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
     /* global */
    .section-title {
        margin-bottom: 30px;
    }
    .section-title h2 {
        font-size: 28px; 
        margin-top: -7px;
    }

    /* header */
    .navbar-toggler {
        color: #ddd;
        padding: 0;
        width: 40px;
        height: 40px;
        border: 1px solid #ddd;
        font-size: 22px;
        float: right;
    }
    .header .header-bottom .navbar {
        padding: 0;
    }
    .header .header-bottom .navbar .navbar-nav .nav-item .nav-link {
        background: #2a2a2a;
        margin-bottom: 1px;
        padding: 15px 20px;
        font-size: 14px;
    }
    .header .header-bottom .navbar .navbar-nav .nav-item:first-child .nav-link {
        margin-top: 15px;
    }
    .header .header-bottom {
        padding: 10px 0;
    }
    .header .header-bottom .logo {
        max-width: 140px;
    }

    /* banner */
    .banner .banner-content h1, .banner.banner-2 .text-content h1 {
        font-size: 32px;
        line-height: 42px;
        margin-top: -7px;
    }
    .banner.banner-2 .text-content {
        padding: 0;
        background: none;
    }
    .banner-slider .owl-nav, .banner.banner-2 .text-content:after {
        display: none;
    }
    .banner .banner-content h4 {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 18px;
    }
    .banner .banner-content p {
        font-size: 16px;
        line-height: 24px;
    }
    .banner-img {
        display: none;
    }

    /* feature */
    .feature {
        padding: 70px 0 21px;
    }
    .feature .single-feature .part-text h3.title {
        font-size: 20px;
    }
    .feature .single-feature .part-icon {
        width: 50px;
    }

    /* betting */
    .betting {
        padding: 70px 0 40px;
    }
    .betting .betting-table .bett-menu .nav-tabs .nav-item {
        flex: auto;
        display: inline-block;
        width: 25%;
        margin-right: 0;
    }
    .betting .betting-table .bett-menu .nav-tabs .nav-item .nav-link {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 13px 20px;
    }
    .betting .betting-table .bett-menu .nav-tabs .nav-item .nav-link i {
        margin-bottom: 0;
        font-size: 25px;
        margin-right: 6px;
    }
    .betting .betting-table .bett-menu .nav-tabs .nav-item .nav-link .text {
        font-size: 14px;
    }
    .betting .betting-table .bett-menu .nav-tabs .nav-item .nav-link.active {
        border-radius: 0;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list h4.title {
        font-size: 14px;
        margin-bottom: 0;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list .single-sport-box {
        display: block;
        padding: 20px;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list .single-sport-box .part-bnonus {
        width: 100%;
        border: 1px solid rgba(233, 102, 74, 0.2);
        margin-top: 1px;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list .single-sport-box .part-match .single-place-to-bet a {
        width: auto;
        display: flex;
        justify-content: space-between;
        padding: 15px;
        border: none;
        border-radius: 0;
        margin-top: 1px;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list .single-sport-box .part-match .single-place-to-bet {
        display: block;
        margin-right: 0;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list .single-sport-box .part-team {
        padding-right: 0;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list .single-sport-box .part-team {
        width: 100%;
        border: none;
        background: #e9664a;
        padding: 10px 15px;
        background: linear-gradient(160deg, rgba(248, 27, 100, 0.9), rgba(196, 12, 73, 0.9));
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list .single-sport-box .part-team ul li span {
        color: #fff;
        opacity: 1;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list .single-sport-box .part-team ul li span.score-number {
        color: #ffffff;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list .single-sport-box .part-bnonus .bonus-number {
        border-left: none;
        padding-left: 15px;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list .single-sport-box .part-icon {
        font-size: 30px;
        line-height: 35px;
        display: flex;
        margin-bottom: 15px;   
        padding: 15px 20px;
        border-radius: 0;
        color: #fff;
    
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list h4.title:after {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3px;
        background: #383838;
    }

    /* upcoming match */
    .upcoming-match {
        padding: 70px 0 44px;
    }

    /* statics */
    .statics .single-statics .part-text span.number {
        font-size: 30px; 
    }
    .statics .single-statics {
        margin-bottom: 30px;
    }
    .statics {
        padding: 70px 0 40px;
    }

    /* testimonial */
    .testimonial {
        padding: 70px 0;
    }
    .testimonial .single-testimonial .part-text p {
        font-size: 20px;
        line-height: 30px; 
        padding: 0 30px 20px;
    }

    /* download app */
    .download-app {
        padding: 70px 0 35px;
    }
    .download-app .part-img {
        display: none;
    }
    .download-app .part-text h3 {
        font-size: 32px;
        line-height: 42px;
    }
    .download-app img.shape {
        display: none;
    }

    /* blog */
    .blog {
        padding: 70px 0;
    }
    .blog .single-blog .part-text a.title {
        font-size: 20px;
        line-height: 30px;
    }
    .blog .single-blog {
        margin-bottom: 30px;
    }
    .blog .vew-more-news {
        margin-top: 0;
    }

    /* footer */
    .footer .about-widget {
        margin-bottom: 30px;
    }
    .footer .useful-links {
        margin-bottom: 30px;
    }
    .footer {
        padding: 80px 0 0px;
    }
    .copyright-footer .footer-menu {
        display: none;
    }
    .copyright-footer .copyright-text {
        text-align: center;
    }

    /* breadcrumb */
    .breadcrumb-bettix .breadcrumb-content {
        padding: 50px 0;
    }
    .breadcrumb-bettix .breadcrumb-content h2 {
        font-size: 28px;
        margin-top: -7px;
        margin-bottom: 5px;
    }
    .breadcrumb-bettix .breadcrumb-content ul li {
        font-size: 14px;
    }

     /* statics */
     .statics .single-counter span.number {
        font-size: 40px;
    }
    .statics .single-counter {
        margin-bottom: 30px;
    }

    /* about */
    .about {
        padding: 70px 0;
    }
    .about .part-text {
        margin-left: 0;
    }
    .about .about-btn {
        margin-left: 0;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
   /* global */
   .bet-btn {
        padding: 0 18px;
        height: 45px;
        font-size: 14px;
        line-height: 45px;
    }
    .section-title {
        margin-bottom: 30px;
    }
    .section-title h2 {
        font-size: 28px; 
        margin-top: -7px;
    }

    /* header */
    .header .header-top .right-area ul li .link svg {
        display: none;
    }
    .header .header-top .right-area ul li:after, .header .header-top .left-area ul li:after {
        display: none;
    }
    .header .header-top .left-area ul li, .header .header-top .right-area ul li, .header .header-top .right-area ul li select {
        font-size: 13px;
    }
    .header .header-top .right-area ul li {
        padding: 0 6px;
    }
    .header .header-top .left-area ul li {
        padding: 0 8px 6px;
    }
    .header .header-top {
        padding: 15px 0;
    }
    .navbar-toggler {
        color: #ddd;
        padding: 0;
        width: 40px;
        height: 40px;
        border: 1px solid #ddd;
        font-size: 22px;
        float: right;
    }
    .header .header-bottom .navbar {
        padding: 0;
    }
    .header .header-bottom .navbar .navbar-nav .nav-item .nav-link {
        background: #2a2a2a;
        margin-bottom: 1px;
        padding: 15px 20px;
        font-size: 14px;
    }
    .header .header-bottom .navbar .navbar-nav .nav-item:first-child .nav-link {
        margin-top: 15px;
    }
    .header .header-bottom {
        padding: 10px 0;
    }
    .header .header-bottom .logo {
        max-width: 140px;
    }

    /* banner */
    .banner .banner-content h1, .banner.banner-2 .text-content h1 {
        font-size: 28px;
        line-height: 38px;
        margin-top: -7px;
    }
    .banner.banner-2 .text-content {
        padding: 0;
        background: none;
    }
    .banner-slider .owl-nav, .banner.banner-2 .text-content:after {
        display: none;
    }
    .banner .banner-content h4 {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 18px;
    }
    .banner .banner-content p {
        font-size: 16px;
        line-height: 24px;
    }
    .banner-img {
        display: none;
    }

    /* feature */
    .feature {
        padding: 70px 0 21px;
    }
    .feature .single-feature .part-text h3.title {
        font-size: 20px;
    }
    .feature .single-feature .part-icon {
        width: 50px;
    }

    /* betting */
    .betting {
        padding: 70px 0 40px;
    }
    .betting .betting-table .bett-menu .nav-tabs .nav-item {
        flex: auto;
        display: inline-block;
        width: 25%;
        margin-right: 0;
    }
    .betting .betting-table .bett-menu .nav-tabs .nav-item .nav-link {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 13px 20px;
        justify-content: center;
    }
    .betting .betting-table .bett-menu .nav-tabs .nav-item .nav-link i {
        margin-bottom: 0;
        font-size: 25px;
        margin-right: 6px;
    }
    .betting .betting-table .bett-menu .nav-tabs .nav-item .nav-link .text {
        font-size: 14px;
        display: none;
    }
    .betting .betting-table .bett-menu .nav-tabs .nav-item .nav-link.active {
        border-radius: 0;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list h4.title {
        font-size: 14px;
        margin-bottom: 0;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list .single-sport-box {
        display: block;
        padding: 20px;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list .single-sport-box .part-bnonus {
        width: 100%;
        border: 1px solid rgba(233, 102, 74, 0.2);
        margin-top: 1px;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list .single-sport-box .part-match .single-place-to-bet a {
        width: auto;
        display: flex;
        justify-content: space-between;
        padding: 15px;
        border: none;
        border-radius: 0;
        margin-top: 1px;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list .single-sport-box .part-match .single-place-to-bet {
        display: block;
        margin-right: 0;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list .single-sport-box .part-team {
        padding-right: 0;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list .single-sport-box .part-team {
        width: 100%;
        border: none;
        background: linear-gradient(160deg, rgba(248, 27, 100, 0.9), rgba(196, 12, 73, 0.9));
        padding: 10px 15px;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list .single-sport-box .part-team ul li span {
        color: #fff;
        opacity: 1;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list .single-sport-box .part-team ul li span.score-number {
        color: #ffffff;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list .single-sport-box .part-bnonus .bonus-number {
        border-left: none;
        padding-left: 15px;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list .single-sport-box .part-icon {
        font-size: 30px;
        line-height: 35px;
        display: flex;
        margin-bottom: 15px;
        color: #fff;
        padding: 10px 20px;
        border-radius: 0;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list h4.title:after {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3px;
        background: #383838;
    }

    /* upcoming match */
    .upcoming-match {
        padding: 70px 0 44px;
    }

    /* statics */
    .statics .single-statics .part-text span.number {
        font-size: 30px; 
    }
    .statics .single-statics {
        margin-bottom: 30px;
    }
    .statics {
        padding: 70px 0 40px;
    }

    /* testimonial */
    .testimonial {
        padding: 70px 0;
    }
    .testimonial .single-testimonial .part-text p {
        font-size: 16px;
        line-height: 28px; 
        padding: 0 20px 20px;
    }
    .testimonial .single-testimonial .part-text span.user-name {
        font-size: 16px; 
    }
    .testimonial .single-testimonial .part-text span.position {
        font-size: 14px;
    }

    /* download app */
    .download-app {
        padding: 70px 0 35px;
    }
    .download-app .part-img {
        display: none;
    }
    .download-app .part-text h3 {
        font-size: 28px;
    }
    .download-app .part-text h4 {
        font-size: 14px;
    }
    .download-app .app-features {
        text-align: center;
    }
    .download-app .app-features .single-feature {
        margin-right: 0;
        margin: 0 6px;
    }
    .download-app .app-features .single-feature:last-child {
        margin-right: 0;
    }
    .download-app .app-features .single-feature:first-child {
        margin-left: 0;
    }
    .download-app img.shape {
        display: none;
    }

    /* blog */
    .blog {
        padding: 70px 0;
    }
    .blog .single-blog .part-text a.title {
        font-size: 20px;
        line-height: 30px;
    }
    .blog .single-blog {
        margin-bottom: 30px;
    }
    .blog .vew-more-news {
        margin-top: 0;
    }

    /* footer */
    .footer .about-widget {
        margin-bottom: 30px;
    }
    .footer .useful-links {
        margin-bottom: 30px;
    }
    .footer {
        padding: 80px 0 55px;
    }
    .copyright-footer .footer-menu {
        display: none;
    }
    .copyright-footer .copyright-text {
        text-align: center;
    } 
     
    /* breadcrumb */
     .breadcrumb-bettix .breadcrumb-content {
        padding: 50px 0;
    }
    .breadcrumb-bettix .breadcrumb-content h2 {
        font-size: 28px;
        margin-top: -7px;
        margin-bottom: 5px;
    }
    .breadcrumb-bettix .breadcrumb-content ul li {
        font-size: 14px;
    }
    

     /* statics */
     .statics .single-counter span.number {
        font-size: 40px;
    }
    .statics .single-counter {
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 575px) {
   /* global */
   .bet-btn {
        padding: 0 18px;
        height: 45px;
        font-size: 14px;
        line-height: 45px;
    }
    .section-title {
        margin-bottom: 30px;
    }
    .section-title h2 {
        font-size: 28px; 
        margin-top: -7px;
    }

    /* header */
    .header .header-top .right-area, .header .header-top .left-area {
        text-align: center;
        display: block;
    }
    .header .header-top .right-area ul li .link svg {
        display: none;
    }
    .header .header-top .right-area ul li:after, .header .header-top .left-area ul li:after {
        display: none;
    }
    .header .header-top .left-area ul li, .header .header-top .right-area ul li, .header .header-top .right-area ul li select {
        font-size: 13px;
    }
    .header .header-top .right-area ul li {
        padding: 0 6px;
    }
    .header .header-top .left-area ul li {
        padding: 0 8px 6px;
    }
    .header .header-top {
        padding: 15px 0;
    }
    .navbar-toggler {
        color: #ddd;
        padding: 0;
        width: 40px;
        height: 40px;
        border: 1px solid #ddd;
        font-size: 22px;
        float: right;
    }
    .header .header-bottom .navbar {
        padding: 0;
    }
    .header .header-bottom .navbar .navbar-nav .nav-item .nav-link {
        background: #a2a1a121;
        margin-bottom: 1px;
        padding: 15px 20px;
        font-size: 14px;
    }
    .header .header-bottom .navbar .navbar-nav .nav-item:first-child .nav-link {
        margin-top: 15px;
    }
    .header .header-bottom {
        padding: 10px 0;
    }
    .header .header-bottom .logo {
        max-width: 140px;
    }

    /* banner */
    .banner .banner-content h1, .banner.banner-2 .text-content h1 {
        font-size: 28px;
        line-height: 38px;
        margin-top: -7px;
    }
    .banner.banner-2 .text-content {
        padding: 0;
        background: none;
    }
    .banner-slider .owl-nav, .banner.banner-2 .text-content:after {
        display: none;
    }
    .banner .banner-content h4 {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 18px;
    }
    .banner .banner-content p {
        font-size: 16px;
        line-height: 24px;
    }
    .banner-img {
        display: none;
    }

    /* feature */
    .feature {
        padding: 70px 0 21px;
    }
    .feature .single-feature .part-text h3.title {
        font-size: 20px;
    }
    .feature .single-feature .part-icon {
        width: 50px;
    }

    /* betting */
    .betting {
        padding: 70px 0 40px;
    }
    .betting .betting-table .bett-menu .nav-tabs .nav-item {
        flex: auto;
        display: inline-block;
        width: 25%;
        margin-right: 0;
    }
    .betting .betting-table .bett-menu .nav-tabs .nav-item .nav-link {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 13px 20px;
        
        justify-content: center;
    }
    .betting .betting-table .bett-menu .nav-tabs .nav-item .nav-link i {
        margin-bottom: 0;
        font-size: 25px;
        margin-right: 6px;
    }
    .betting .betting-table .bett-menu .nav-tabs .nav-item .nav-link .text {
        font-size: 14px;
        display: none;
    }
    .betting .betting-table .bett-menu .nav-tabs .nav-item .nav-link.active {
        border-radius: 0;
        color: white;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list h4.title {
        font-size: 14px;
        margin-bottom: 0;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list .single-sport-box {
        display: block;
        padding: 20px;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list .single-sport-box .part-bnonus {
        width: 100%;
        border: 1px solid rgba(233, 102, 74, 0.2);
        margin-top: 1px;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list .single-sport-box .part-match .single-place-to-bet a {
        width: auto;
        display: flex;
        justify-content: space-between;
        padding: 15px;
        border: none;
        border-radius: 0;
        margin-top: 1px;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list .single-sport-box .part-match .single-place-to-bet {
        display: block;
        margin-right: 0;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list .single-sport-box .part-team {
        padding-right: 0;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list .single-sport-box .part-team {
        width: 100%;
        border: none;
        background: linear-gradient(160deg, rgba(248, 27, 100, 0.9), rgba(196, 12, 73, 0.9));
        padding: 10px 15px;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list .single-sport-box .part-team ul li span {
        color: #fff;
        opacity: 1;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list .single-sport-box .part-team ul li span.score-number {
        color: #ffffff;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list .single-sport-box .part-bnonus .bonus-number {
        border-left: none;
        padding-left: 15px;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list .single-sport-box .part-icon {
        font-size: 30px;
        line-height: 35px;
        padding: 10px 20px;
        display: flex;
        margin-bottom: 15px;
        color: #fff;
        border-radius: 0;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list h4.title:after {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3px;
        background: #383838;
    }

    /* upcoming match */
    .upcoming-match {
        padding: 70px 0 44px;
    }
    .upcoming-match .single-match .part-team {
        padding: 30px 0;
        justify-content: space-evenly;
    }
    .upcoming-match .single-match .part-team .match-details .match-time {
        display: none;
    }
    .upcoming-match .single-match .part-team .single-team .logo {
        width: 50px; 
        margin-bottom: 10px;
    }
    .upcoming-match .single-match .part-team .match-details .buttons a, .upcoming-match .single-match .to-begin-time {
        display: none;
    }
    .upcoming-match .single-match .part-team .match-details span.versase {
        margin-bottom: 0;
        border: none;
        font-size: 30px;
    }
    .upcoming-match .single-match .part-team .match-details span.versase:after {
        display: none;
    }
    .upcoming-match .single-match .part-team .single-team span.team-name {
        font-weight: 500;
    }
    .upcoming-match .single-match .part-timer .single-time span.number {
        font-size: 20px;
    }
    .upcoming-match .upcoming-match-list .single-upcoming-match {
        padding: 15px 25px;
        justify-content: space-around;
    }
    .upcoming-match .upcoming-match-list .single-upcoming-match span.versase:before, .upcoming-match .upcoming-match-list .single-upcoming-match span.versase:after {
        display: none;
    }
    .upcoming-match .upcoming-match-list .single-upcoming-match .single-team {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .upcoming-match .upcoming-match-list .single-upcoming-match .single-team .part-logo, .upcoming-match .upcoming-match-list .single-upcoming-match .single-team:first-child .part-logo {
        margin-right: 0;
    }
    .upcoming-match .upcoming-match-list .single-upcoming-match .single-team:last-child .part-logo {
        margin-left: 0;
    }
    .upcoming-match .upcoming-match-list .single-upcoming-match .single-team:last-child .part-text {
        order: 2;
    }
    .upcoming-match .upcoming-match-list .single-upcoming-match .single-team .part-logo img {
        width: 45px;
        height: auto;
    }
    .upcoming-match .upcoming-match-list .single-upcoming-match .single-team .part-logo {
        margin-bottom: 15px;
    }
    .upcoming-match .upcoming-match-list .single-upcoming-match span.versase {
        font-size: 14px;
        width: 30px;
        height: 30px;
        line-height: 27px;
        background: transparent!important;
        border: 2px solid rgba(233, 102, 74, 0.4)!important;
        color: #555;
    }
    .upcoming-match .upcoming-match-list .single-upcoming-match .single-team .part-text span.team-name {
        font-size: 14px;
    }
    .text-special {
        line-height: 22px;
    }
    .vew-more-news {
        margin-top: 30px;
    }

    /* statics */
    .statics .single-statics .part-text span.number {
        font-size: 30px; 
    }
    .statics .single-statics {
        margin-bottom: 30px;
    }
    .statics {
        padding: 70px 0 40px;
    }

    /* testimonial */
    .testimonial {
        padding: 70px 0;
    }
    .testimonial .single-testimonial .part-text p {
        font-size: 16px;
        line-height: 28px; 
        padding: 0 20px 20px;
    }
    .testimonial .single-testimonial .part-text span.user-name {
        font-size: 16px; 
    }
    .testimonial .single-testimonial .part-text span.position {
        font-size: 14px;
    }

    /* download app */
    .download-app {
        padding: 70px 0 35px;
    }
    .download-app .part-img {
        display: none;
    }
    .download-app .part-text h3 {
        font-size: 28px;
    }
    .download-app .part-text h4 {
        font-size: 14px;
    }
    .download-app .app-features {
        text-align: center;
    }
    .download-app .app-features .single-feature {
        margin-right: 0;
        margin: 0 6px;
    }
    .download-app .app-features .single-feature:last-child {
        margin-right: 0;
    }
    .download-app .app-features .single-feature:first-child {
        margin-left: 0;
    }
    .download-app img.shape {
        display: none;
    }

    /* blog */
    .blog {
        padding: 70px 0;
    }
    .blog .single-blog .part-text a.title {
        font-size: 20px;
        line-height: 30px;
    }
    .blog .single-blog {
        margin-bottom: 30px;
    }
    .blog .vew-more-news {
        margin-top: 0;
    }

    /* footer */
    .footer .about-widget {
        margin-bottom: 30px;
    }
    .footer .useful-links {
        margin-bottom: 30px;
    }
    .footer {
        padding: 80px 0 55px;
    }
    .copyright-footer .footer-menu {
        display: none;
    }
    .copyright-footer .copyright-text {
        text-align: center;
    }
     /* breadcrumb */
     .breadcrumb-bettix .breadcrumb-content {
        padding: 50px 0;
    }
    .breadcrumb-bettix .breadcrumb-content h2 {
        font-size: 28px;
        margin-top: -7px;
        margin-bottom: 5px;
    }
    .breadcrumb-bettix .breadcrumb-content ul li {
        font-size: 14px;
    }

     /* statics */
     .statics .single-counter span.number {
        font-size: 40px;
    }
    .statics .single-counter {
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
    /* global */
    .bet-btn {
        padding: 0 18px;
        height: 45px;
        font-size: 14px;
        line-height: 45px;
    }
    .section-title {
        margin-bottom: 30px;
    }
    .section-title h2 {
        font-size: 28px; 
        margin-top: -7px;
    }

    /* header */
    .header .header-top .right-area, .header .header-top .left-area {
        text-align: center;
        display: block;
    }
    .header .header-top .right-area ul li .link svg {
        display: none;
    }
    .header .header-top .right-area ul li:after, .header .header-top .left-area ul li:after {
        display: none;
    }
    .header .header-top .left-area ul li, .header .header-top .right-area ul li, .header .header-top .right-area ul li select {
        font-size: 13px;
    }
    .header .header-top .right-area ul li {
        padding: 0 6px;
    }
    .header .header-top .left-area ul li {
        padding: 0 8px 6px;
    }
    .header .header-top {
        padding: 15px 0;
    }
    .navbar-toggler {
        color: #ddd;
        padding: 0;
        width: 40px;
        height: 40px;
        border: 1px solid #ddd;
        font-size: 22px;
        float: right;
    }
    .header .header-bottom .navbar {
        padding: 0;
    }
    .header .header-bottom .navbar .navbar-nav .nav-item .nav-link {
        background: #2a2a2a;
        margin-bottom: 1px;
        padding: 15px 20px;
        font-size: 14px;
    }
    .header .header-bottom .navbar .navbar-nav .nav-item:first-child .nav-link {
        margin-top: 15px;
    }
    .header .header-bottom {
        padding: 10px 0;
    }
    .header .header-bottom .logo {
        max-width: 140px;
    }

    /* dropdown */
    .header .header-bottom .navbar .navbar-nav .nav-item.dropdown .dropdown-menu {
        opacity: 1;
        visibility: visible;
        margin-top: 0;
        display: none;
    }
    .header .header-bottom .navbar .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
        display: block;
    }

    /* banner */
    .banner .banner-content h1, .banner.banner-2 .text-content h1 {
        font-size: 28px;
        line-height: 38px;
        margin-top: -7px;
    }
    .banner.banner-2 .text-content {
        padding: 0;
        background: none;
    }
    .banner-slider .owl-nav, .banner.banner-2 .text-content:after {
        display: none;
    }
    .banner .banner-content h4 {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 18px;
    }
    .banner .banner-content p {
        font-size: 16px;
        line-height: 24px;
    }
    .banner-img {
        display: none;
    }

    /* feature */
    .feature {
        padding: 70px 0 21px;
    }
    .feature .single-feature .part-text h3.title {
        font-size: 20px;
    }
    .feature .single-feature .part-icon {
        width: 50px;
    }

    /* betting */
    .betting {
        padding: 70px 0 40px;
    }
    .betting .betting-table .bett-menu .nav-tabs .nav-item {
        flex: auto;
        display: inline-block;
        width: 50%;
    }
    .betting .betting-table .bett-menu .nav-tabs .nav-item .nav-link {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 13px 20px;
        border-bottom: 1px solid rgba(233, 102, 74, 0.1);
    }
    .betting .betting-table .bett-menu .nav-tabs .nav-item .nav-link i {
        margin-bottom: 0;
        font-size: 25px;
        margin-right: 6px;
    }
    .betting .betting-table .bett-menu .nav-tabs .nav-item .nav-link .text {
        font-size: 14px;
    }
    .betting .betting-table .bett-menu .nav-tabs .nav-item .nav-link.active {
        border-radius: 0;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list h4.title {
        font-size: 14px;
        margin-bottom: 0;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list .single-sport-box {
        display: block;
        padding: 20px;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list .single-sport-box .part-bnonus {
        width: 100%;
        border: 1px solid rgba(233, 102, 74, 0.2);
        margin-top: 1px;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list .single-sport-box .part-match .single-place-to-bet a {
        width: auto;
        display: flex;
        justify-content: space-between;
        padding: 15px;
        border: none;
        border-radius: 0;
        margin-top: 1px;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list .single-sport-box .part-match .single-place-to-bet {
        display: block;
        margin-right: 0;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list .single-sport-box .part-team {
        padding-right: 0;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list .single-sport-box .part-team {
        width: 100%;
        border: none;
        background: linear-gradient(160deg, #FFBF00, #c40c49);
        padding: 10px 15px;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list .single-sport-box .part-team ul li span {
        color: #fff;
        opacity: 1;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list .single-sport-box .part-team ul li span.score-number {
        color: #ffffff;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list .single-sport-box .part-bnonus .bonus-number {
        border-left: none;
        padding-left: 15px;
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list .single-sport-box .part-icon {
        font-size: 30px;
        line-height: 35px;
        display: flex;
        margin-bottom: 15px;
        padding: 10px 20px;
        color: #fff;
        border-radius: 0;    
    }
    .betting .betting-table .bet-tab-content .tab-pane .sports-list h4.title:after {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3px;
        background: #383838;
    }

    /* upcoming match */
    .upcoming-match {
        padding: 70px 0 44px;
    }
    .upcoming-match .single-match .part-team {
        padding: 30px 0;
        justify-content: space-evenly;
    }
    .upcoming-match .single-match .part-team .match-details .match-time {
        display: none;
    }
    .upcoming-match .single-match .part-team .single-team .logo {
        width: 50px; 
        margin-bottom: 10px;
    }
    .upcoming-match .single-match .part-team .match-details .buttons a, .upcoming-match .single-match .to-begin-time {
        display: none;
    }
    .upcoming-match .single-match .part-team .match-details span.versase {
        margin-bottom: 0;
        border: none;
        font-size: 30px;
    }
    .upcoming-match .single-match .part-team .match-details span.versase:after {
        display: none;
    }
    .upcoming-match .single-match .part-team .single-team span.team-name {
        font-weight: 500;
    }
    .upcoming-match .single-match .part-timer .single-time span.number {
        font-size: 20px;
    }
    .upcoming-match .upcoming-match-list .single-upcoming-match {
        padding: 15px 25px;
    }
    .upcoming-match .upcoming-match-list .single-upcoming-match span.versase:before, .upcoming-match .upcoming-match-list .single-upcoming-match span.versase:after {
        display: none;
    }
    .upcoming-match .upcoming-match-list .single-upcoming-match .single-team {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .upcoming-match .upcoming-match-list .single-upcoming-match .single-team .part-logo, .upcoming-match .upcoming-match-list .single-upcoming-match .single-team:first-child .part-logo {
        margin-right: 0;
    }
    .upcoming-match .upcoming-match-list .single-upcoming-match .single-team:last-child .part-logo {
        margin-left: 0;
    }
    .upcoming-match .upcoming-match-list .single-upcoming-match .single-team:last-child .part-text {
        order: 2;
    }
    .upcoming-match .upcoming-match-list .single-upcoming-match .single-team .part-logo img {
        width: 45px;
        height: auto;
    }
    .upcoming-match .upcoming-match-list .single-upcoming-match .single-team .part-logo {
        margin-bottom: 15px;
    }
    .upcoming-match .upcoming-match-list .single-upcoming-match span.versase {
        font-size: 14px;
        width: 30px;
        height: 30px;
        line-height: 27px;
        background: transparent!important;
        border: 2px solid rgba(233, 102, 74, 0.4)!important;
        color: #555;
    }
    .upcoming-match .upcoming-match-list .single-upcoming-match .single-team .part-text span.team-name {
        font-size: 14px;
    }
    .text-special {
        line-height: 22px;
    }
    .vew-more-news {
        margin-top: 30px;
    }

    /* statics */
    .statics .single-statics .part-text span.number {
        font-size: 30px; 
    }
    .statics .single-statics {
        margin-bottom: 30px;
    }
    .statics {
        padding: 70px 0 40px;
    }

    /* testimonial */
    .testimonial {
        padding: 70px 0;
    }
    .testimonial .single-testimonial .part-text p {
        font-size: 16px;
        line-height: 28px; 
        padding: 0 20px 20px;
    }
    .testimonial .single-testimonial .part-text span.user-name {
        font-size: 16px; 
    }
    .testimonial .single-testimonial .part-text span.position {
        font-size: 14px;
    }

    /* download app */
    .download-app {
        padding: 70px 0 35px;
    }
    .download-app .part-img {
        display: none;
    }
    .download-app .part-text h3 {
        font-size: 28px;
    }
    .download-app .part-text h4 {
        font-size: 14px;
    }
    .download-app .app-features {
        text-align: center;
    }
    .download-app .app-features .single-feature {
        margin-right: 0;
        margin: 0 30px 30px;
    }
    .download-app .app-features .single-feature:last-child {
        margin-right: 30px;
    }
    .download-app img.shape {
        display: none;
    }

    /* blog */
    .blog {
        padding: 70px 0;
    }
    .blog .single-blog .part-text a.title {
        font-size: 20px;
        line-height: 30px;
    }
    .blog .single-blog {
        margin-bottom: 30px;
    }
    .blog .vew-more-news {
        margin-top: 0;
    }

    /* footer */
    .footer .about-widget {
        margin-bottom: 30px;
    }
    .footer .useful-links {
        margin-bottom: 30px;
    }
    .footer {
        padding: 80px 0 55px;
    }
    .copyright-footer .footer-menu {
        display: none;
    }
    .copyright-footer .copyright-text {
        text-align: center;
    }

    /* breadcrumb */
    .breadcrumb-bettix .breadcrumb-content {
        padding: 50px 0;
    }
    .breadcrumb-bettix .breadcrumb-content h2 {
        font-size: 28px;
        margin-top: -7px;
        margin-bottom: 5px;
    }
    .breadcrumb-bettix .breadcrumb-content ul li {
        font-size: 14px;
    }

    .blog .single-blog .part-img .post-date {
        height: 60px;
        width: 60px;
    }
    .blog .single-blog .part-img .post-date span.date {
        font-size: 24px;
        margin-bottom: 4px;
    }
    .blog .single-blog .part-img .post-date span.month {
        font-size: 14px;
    }

    /* betting section */
    .betting .betting-table .bett-menu .nav-tabs .nav-item .nav-link .text {
        display: none;
    }
    .betting .betting-table .bett-menu .nav-tabs .nav-item .nav-link i {
        margin-right: 0;
    }
    .betting .betting-table .bett-menu .nav-tabs .nav-item {
        width: 25%;
        margin-right: 0;
    }
    .betting .betting-table .bett-menu .nav-tabs .nav-item .nav-link {
        justify-content: center;
    }

    /* statics */
    .statics .single-counter span.number {
        font-size: 40px;
    }
    .statics .single-counter {
        margin-bottom: 30px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 360px) {
    .footer .about-widget .social .git {
        margin-top: 10px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 350px) {
    .banner .banner-content .banner-button ul li a {
        width: 100%;
        display: block;
        text-align: center;
    }
    .banner .banner-content .banner-button ul li {
        width: 100%;
        display: block;
    }
    .banner .banner-content .banner-button ul li:first-child {
        margin-bottom: 15px;
    }
    .footer .about-widget .social .git {
        margin-top: 10px;
    }
    .footer .about-widget .support ul {
        display: block;
    }
    .footer .about-widget .support ul li {
        margin-bottom: 20px;
    }
    .footer .about-widget .support ul li span {
        margin-bottom: 10px;
    }

    /* breadcrumb */
    .breadcrumb-bettix .breadcrumb-content {
        padding: 50px 0;
    }
    .breadcrumb-bettix .breadcrumb-content h2 {
        font-size: 28px;
        margin-top: -7px;
        margin-bottom: 5px;
    }
    .breadcrumb-bettix .breadcrumb-content ul li {
        font-size: 14px;
    }

    .blog .single-blog .part-img .post-date {
        height: 60px;
        width: 60px;
    }
    .blog .single-blog .part-img .post-date span.date {
        font-size: 24px;
        margin-bottom: 4px;
    }
    .blog .single-blog .part-img .post-date span.month {
        font-size: 14px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .footer .payment-method {
        display: none;
    }
    .header .header-bottom.navbar-fixed {
        position: initial;
    }
    /* about */
    .about {
        padding: 70px 0;
    }
     .about .part-text {
        margin-left: 0;
        padding: 40px 30px;
    }
    .about .part-text h2 {
        font-size: 24px;
    }
    .about .part-text p {
        font-weight: 300;
    }
    .about .about-btn {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-left: 0;
    }

    /* cta */
    .cta h3 {
        font-size: 24px;
        line-height: 34px;
    }
    .cta .cta-btn-group a {
        width: 170px;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .cta .cta-btn-group a:last-child {
        margin-bottom: 0;
    }

    /* sponsor */
    .sponsor, .newsletter .part-img {
        display: none;
    }

    /* newsletter */
    .newsletter .part-text {
        padding: 30px;
    }
    .newsletter .part-text .part-form {
        border: none;
        background: transparent;
    }
    .newsletter .part-text .part-form input {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .newsletter .part-text .part-form {
        padding: 0;
    }
    .newsletter .part-text h4 {
        font-size: 24px;
    }

    /* promotion */
    .promotions {
        padding: 70px 0 40px;
    }
    .promotions .single-promotion .part-text {
        padding: 40px 30px;
    }
    .promotions .single-promotion .single-promotion-img {
        height: auto;
    }
    .promotions .single-promotion .part-text h4.title {
        font-size: 20px;
        line-height: 30px;
    }
    .promotions .single-promotion .part-text a {
        height: 40px;
        line-height: 40px;
        font-size: 14px;
    }

    /* standing page */
    .standing {
        padding: 60px 0 57px;
    }
    .standing .filter-menu .form-group {
        margin-bottom: 10px;
    }
    .standing .standing-team-list {
        width: 800px;
        margin-bottom: 8px;
        margin-top: 4px;
        margin-left: 5px;
    }
    .standing .standing-list-cover {
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .standing .filter-menu {
        margin-bottom: 30px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer .payment-method .all-method .single-method {
        width: 120px;
        margin: 0 15px;
    }
    .header .header-bottom.navbar-fixed {
        position: initial;
    }

    /* sponsor */
    .sponsor, .newsletter .part-img {
        display: none;
    }

    /* standing page */
    .standing {
        padding: 60px 0 57px;
    }
    .standing .filter-menu .form-group {
        margin-bottom: 10px;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .cta .cta-btn-group a:first-child {
        margin-right: 16px;
    }
}